version: "3.8"
services:
    postgres:
        image: postgres:16
        environment:
            POSTGRES_DB:
            POSTGRES_USER:
            POSTGRES_PASSWORD:
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
            - ./server/db.sql:/docker-entrypoint-initdb.d/1-db.sql

    server:
        build: ./server
        ports:
            - "5000:5000"
            - "1234:1234"
        depends_on:
            - postgres
        environment:
            DB_HOST:
            DB_PORT: 5432
            DB_NAME:
            DB_USER:
            DB_PASSWORD:
            JWT_SECRET:
            PORT: 5000

    client:
        build: ./client
        ports:
            - "3000:3000"
        depends_on:
            - server

volumes:
    postgres_data:
